<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @student.age %>
</p>

<p>
  <strong>Course:</strong>
  <%= @student.course %>
</p>

<% unless @student.grade.nil? %>
  <h2>Grades<h2>

  <p>
    <strong>Test 1: </strong>
    <%= @student.grade.test1 %>
  </p>

  <p>
    <strong>Test 2: </strong>
    <%= @student.grade.test2 %>
  </p>

  <p>
    <strong>Test 3: </strong>
    <%= @student.grade.test3 %>
  </p>

  <p>
    <strong>Exam: </strong>
    <%= @student.grade.exam %>
  </p>

  <p>
    <strong>Situation: </strong>
    <%= @student.grade.situation %>
  </p>
<% end %>

<% if @student.grade.nil? %>
  <%= form_with model: [ @student, @student.build_grade ] do |form| %>
    <p>
      <%= form.label "Test 1" %><br>
      <%= form.number_field :test1 %>
    </p>
    <p>
      <%= form.label "Test 2" %><br>
      <%= form.number_field :test2 %>
    </p>
    <p>
      <%= form.label "Test 3" %><br>
      <%= form.number_field :test3 %>
    </p>
    <p>
      <%= form.label "Exam" %><br>
      <%= form.number_field :exam %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
