<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @student.age %>
</p>

<p>
  <strong>Course:</strong>
  <%= @student.course %>
</p>

<% unless @student.grade.nil? %>
  <%= render 'grades/grade' %>
  <%= link_to 'Edit Grade', edit_student_grade_path(@student) %>
  <br><br>
<% end %>
  
<% if @student.grade.nil? and !@assessment.nil? %>
  <%= render 'grades/form' %>
<% end %>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
